* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid 1px greenyellow;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #;
  --dark-orange: #d2691e;
  --light-orange: #ff7f50;
}

/* HEADER / NAVBAR */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 10%;
  background: var(--dark-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header img {
  height: 100%;
  width: auto;
}
