* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid 1px greenyellow;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

:root {
  --gold-color: #daa520;
  --dark-orange: #d2691e;
  --light-orange: #ff7f50;
  --light-grey: #d3d3d3;
  --white-text: #fff;
}

/* HEADER / NAVBAR */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 10%;
  background: var(--light-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header img {
  height: 100px;
  width: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 600;
  margin-left: 4rem;
  text-wrap: nowrap;
  border-bottom: 3px transparent;
  transition: 0.3s ease-in-out;
}
